body {
  font-family: 'Calibri', sans-serif; /* Aplica la tipografía a todo el cuerpo */
}

.banner {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  margin-top: 0;
  padding: 20% 0 10%; /* Cambiado a porcentajes para mayor flexibilidad */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; 
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.05em; /* Cambiado a em para mayor responsividad */
  padding: 1rem 1.5rem;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.25rem; /* Cambiado a rem */
  margin-bottom: 1rem;
  display: inline-block;
}

.banner h1, .banner h2, .banner p, .banner button, .input-container label {
  font-family: 'Calibri', sans-serif; /* Asegura que la tipografía se aplique a todos los elementos de texto */
}

.banner h1 {
  font-family: 'Calibri', sans-serif; /* Asegura que la tipografía se aplique a todos los elementos de texto */
  font-size: 4rem; /* Cambiado a rem */
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.banner h2 {
  font-family: 'Calibri', sans-serif; /* Asegura que la tipografía se aplique a todos los elementos de texto */
  font-size: 2rem; /* Cambiado a rem */
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.banner p {
  font-family: 'Calibri', sans-serif; /* Asegura que la tipografía se aplique a todos los elementos de texto */
  color: #000000;
  font-size: 1rem; /* Cambiado a rem */
  letter-spacing: 0.05em;
  line-height: 1.5em;
  width: 90%; /* Ajustado para mayor responsividad */
  max-width: 800px; 
  margin: 0 auto; 
}

.banner button {
  color: #000000;
  font-weight: 800;
  font-size: 3rem; /* Cambiado a rem */
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 1.5rem; /* Cambiado a rem */
  margin-left: 0.5rem;
  transition: 0.3s ease-in-out;
}

.banner button:hover svg {
  margin-left: 1.5rem;
}

.banner img {
  animation: updown 3s linear infinite;
}

.Button-join {
  margin-left: 2rem; /* Cambiado a rem */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button-join:hover {
  color: #00FF00; 
}

.input-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem; /* Cambiado a rem */
  margin-top: 2rem; /* Cambiado a rem */
}

.input-container label {
  font-family: 'Calibri', sans-serif; /* Asegura que la tipografía se aplique a todos los elementos de texto */
  color: #000000;
  font-size: 1.2rem;
}

.document-input {
  padding: 0.5rem; /* Cambiado a rem */
  font-size: 1rem; 
  border-radius: 0.5rem; /* Cambiado a rem */
  border: 1px solid #000000;
  text-align: center; 
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
  
.admin-button-container {
  display: flex;
  width: auto; 
  padding: 0.5rem; /* Cambiado a rem */
  top: 0;
  right: 0;
}

.admin-button {
  background-color: #2bd830; /* Color original */
  color: white;
  border: none;
  padding: 0.5rem 1rem; /* Cambiado a rem */
  border-radius: 0.5rem; 
  font-size: 0.8rem; 
  line-height: 1; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-button h2 {
  margin: 0; 
  font-size: 1rem; /* Cambiado a rem */
  font-weight: 600; 
}

.admin-button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.5rem; /* Cambiado a rem */
  transform: translateY(-50%);
  border-width: 0.5rem; /* Cambiado a rem */
  border-style: solid;
  border-color: transparent #4CAF50 transparent transparent; 
}

.admin-button:hover {
  background-color: #f58219; /* Color verde negro al pasar el mouse */
  transform: translateX(-0.1rem); /* Cambiado a rem */
}

.admin-button:hover::before {
  border-color: transparent #f58219 transparent transparent;
}

/* Media Queries */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 3rem; /* Ajusta el tamaño del h1 en pantallas más pequeñas */
  }
  .banner h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del h2 */
  }
  .banner p {
    font-size: 0.9rem; /* Ajusta el tamaño del párrafo */
  }
  .banner button {
    font-size: 2rem; /* Ajusta el tamaño del botón */
  }
  .Button-join {
    margin-left: 1rem; /* Ajusta el margen */
  }
}

@media (max-width: 480px) {
  .banner h1 {
    font-size: 2.5rem; /* Ajusta aún más para pantallas pequeñas */
  }
  .banner h2 {
    font-size: 1.2rem; 
  }
  .banner p {
    font-size: 0.8rem; 
  }
  .banner button {
    font-size: 1.5rem; 
  }
}
